<% provide(:title, @user.name) %>

<div class="min-h-screen">
  <% if current_user == @user %>
    <div class="pt-4 md:pt-6 flex justify-center items-center space-x-1 md:space-x-3">
      <div class="px-2 py-1 bg-slate-200 text-gray-500 text-sm rounded-lg shadow-xl shadow-xl">
        <%= @user.name.truncate(10) %>
      </div>
      <div class="px-2 py-1 bg-slate-200 text-gray-500 text-sm rounded-lg shadow-xl shadow-xl">
        <%= @user.email.truncate(10) %>
      </div>
      <%= link_to edit_user_path(@user), class: "px-2 py-1 bg-yellow-400 text-gray-500 text-sm rounded-lg shadow-xl shadow-xl" do %>
        Edit
      <% end %>
    </div>
  
    <div class="mt-4 flex flex-col justify-center items-center">
      <%= turbo_frame_tag "new_thought" do %>
        <%= link_to new_user_thought_path(@user, @thought), class: "px-2 py-1 bg-green-600 text-gray-50 text-lg rounded-lg shadow-xl hover:bg-green-700" do %>
            My new thought
        <% end %>
      <% end %>
    </div>
  <% end %>
    
  <div class="pt-10 ml-8 md:ml-48 flex flex-col justify-center items-start space-y-3">
    <%= turbo_stream_from "user_thoughts_list" %>
    <%= turbo_frame_tag "user_thoughts" do %>
      <% @user_thoughts.each do |user_thought| %>
          <%= render "thoughts/thought", thought: user_thought %>
      <% end %>
    <% end %>
  </div>
</div>
