<% provide(:title, @user.name) %>

<div class="min-h-screen flex flex-col">
    <div class="pt-4 md:pt-6 pl-8 md:pl-32 flex justify-start items-center space-x-3">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, class: "w-24 h-24 rounded-tr-xl rounded-bl-xl shadow-xl"%>
      <% else %>
        <div class="w-12 h-12 bg-gray-400 rounded-full shadow-xl"></div>
      <% end %>
      <div class="flex flex-col justify-start items-start space-y-1">   
        <div class="text-gray-700 text-lg font-bold">
          <%= @user.name %>
        </div>
      <% if current_user == @user %>
        <div class="text-gray-600 text-sm">
          <%= @user.email %>,
          <br>
          <%= @user.nationality %>,
          <%= @user.qualifications %>
        </div>
        <%= link_to edit_user_path(@user), class: "px-2 bg-cyan-600 text-gray-50 rounded" do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
      <% end %>
      </div>
    </div>
    
  <% if current_user == @user %>
    <div class="mt-3 flex flex-col justify-center items-center">
      <%= turbo_frame_tag "new_thought" do %>
        <%= link_to new_user_thought_path(@user, @thought), class: "px-2 py-1 bg-blue-600 text-gray-50 text-lg rounded-full hover:bg-blue-700" do %>
          <i class="far fa-lightbulb"></i> Create
        <% end %>
      <% end %>
    </div>
  <% end %>
    
  
  <%# <%= turbo_stream_from "user_thoughts_list" %>
  <%= turbo_frame_tag "user_thoughts" do %>
    <div class="w-screen md:w-10/12 md:pl-32 h-auto mt-8 flex flex-col justify-center space-y-1">  
      <% @user_thoughts.each do |user_thought| %>
        <%= render "thoughts/thought", thought: user_thought %>
      <% end %>
    </div>
  <% end %>
</div>
