<% provide(:title, "Home") %>

<div class="min-h-screen flex flex-col justify-start items-center space-y-3 md:space-y-7">
  <div class="mt-8 md:mt-10 flex flex-col justify-center items-start">
    <div class="text-3xl text-gray-700 md:text-6xl font-light">
      iShareThoughts
    </div>
    <div class="text-sm md:text-xl pt-3 text-gray-700 font-extralight">
      Think aloud. Share your thoughts.
    </div>
  </div>

  <div class="w-screen md:w-2/3 h-auto flex flex-col justify-center space-y-1 md:space-y-2">
    <div class="flex justify-center items-center">
      <%= link_to "<span class='text-xl md:text-3xl text-green-600 py-4'><i class='far fa-lightbulb'></i> New</span>".html_safe, logged_in? ? user_path(current_user) : signin_url %>
    </div>
    <% @latest_thoughts.each do |latest_thought| %>
      <div class="bg-gray-50 border border-gray-200 rounded-lg px-2 py-1 shadow-lg">
        <%= link_to user_url(latest_thought.user), class: "w-full text-sm font-bold px-2 py-1 text-gray-700 flex flex-row justify-start items-center space-x-2" do %>
          <% if latest_thought.user.avatar.present? %>
            <div>
              <%= image_tag latest_thought.user.avatar, class: "w-10 h-10 rounded-full" %>
            </div>
          <% else %>
            <div class="w-10 h-10 bg-gray-400 rounded-full shadow-xl"></div>
          <% end %>
          <div class="">
            <%= latest_thought.user.name %>
            <div class="flex flex-row justify-start items-center space-x-2 text-sm">
              <i class="fas fa-tags text-indigo-700"></i>
              <span class="font-extralight"><%= time_ago_in_words(latest_thought.created_at) %></span>
            </div>
          </div>
        <% end %>
        <div class="px-3 py-2 border rounded-lg border-gray-200">
          <%= link_to thought_path(latest_thought) do %>
            <h1 class="pb-2 font-bold"><%= latest_thought.title %></h1>
            <%= latest_thought.content %>
          <% end %>
        </div>
        <div class="flex justify-around items-center">
          <span class="text-gray-500 text-sm md:text-base">
            <%= link_to latest_thought do %>
              <i class="far fa-comment"></i> <%= latest_thought.comments.count %>
            <% end %>
          </span>
          <% if current_user == latest_thought.user %>
            <%= link_to edit_user_thought_url(latest_thought.user, latest_thought), class: "text-sm md:text-base text-gray-500" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="flex justify-center items-center">
      <%= link_to "<span class='text-xl md:text-3xl text-green-600 py-4'><i class='far fa-lightbulb'></i> New</span>".html_safe, logged_in? ? user_path(current_user) : signin_url %>
    </div>
  </div>
</div>
