<% provide(:title, @thought.title) %>

<div class="min-h-screen flex flex-col">
  <div class="py-4 md:pl-32 flex flex-col items-start space-y-2">
    <div class="w-screen md:w-10/12 h-auto mt-8 flex flex-col justify-center space-y-1">
      <div class="bg-gray-50 border border-gray-200 rounded-lg px-2 py-1 shadow-lg">
        <%= link_to user_url(@thought.user), class: "w-full font-bold px-2 py-1 text-gray-700 flex flex-row justify-start items-center space-x-2" do %>
          <% if @thought.user.avatar.present? %>
            <div>
              <%= image_tag @thought.user.avatar, class: "w-12 h-12 rounded-full" %>
            </div>
          <% else %>
            <div class="w-12 h-12 bg-gray-400 rounded-full shadow-xl"></div>
          <% end %>
          <div class="">
            <%= @thought.user.name %>
          </div>
        <% end %>
        <div class="pl-4 py-2 border rounded-lg border-gray-200">
          <h1 class="font-bold"><%= @thought.title %></h1>
          <%= @thought.content %>
        </div>
        <div class="flex justify-around items-center">
          <span class="text-gray-500 text-sm md:text-base"><i class="far fa-comment"></i> 2</span>
        </div>
      </div>
    </div>
  </div>
</div>

