<div class="w-full h-16 bg-teal-500 flex justify-around items-center md:shadow-xl space-x-7 sticky top-0">
  <div class="flex justify-center items-baseline space-x-4">
    <%=link_to root_path, class: "text-2xl font-semibold text-slate-600" do %>
      Maqalaat
    <% end %>
    <%= link_to about_path, class: "hidden md:block text-slate-600 hover:border-b-2 hover:border-slate-600" do %>
      About
    <% end %>
    <%= link_to contact_us_path, class: "hidden md:block text-slate-600 hover:border-b-2 hover:border-slate-600" do %>
      Contact us
    <% end %>
  </div>
  <div class="flex justify-center items-center space-x-1">
    <div class="px-2 py-1 rounded-lg text-slate-600 hover:bg-teal-600 hover:text-slate-200">
      Register
    </div>
    <div class="px-2 py-1 rounded-lg text-slate-600 hover:bg-teal-600 hover:text-slate-200">
      Sign in
    </div>
  </div>
</div>
<div class="block md:hidden w-full h-8 bg-teal-500 flex justify-center items-center shadow-xl space-x-4 sticky top-10">
  <%= link_to about_path, class: "text-slate-600 hover:border-b-2 hover:border-slate-600" do %>
    About
  <% end %>
  <%= link_to contact_us_path, class: "text-slate-600 hover:border-b-2 hover:border-slate-600" do %>
    Contact us
  <% end %>
</div>