<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | iShareThoughts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WFBR4tWRbnjSGfd-tzjqG3EUF3z5GowcOyEPU-d2XuA" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://kit.fontawesome.com/ebc635497d.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('logo.ico') %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="bg-gray-50">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
